* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    
}

.text-group {
    padding: 3rem 0;
    text-align: center;
}

.img{
    display: block;
    width: 72px; 
    height: 57px;
    margin: 0 auto 24px;
}

.tittle {
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 .5rem 0;
}

.paragraph {
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 300;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.list {
    display: block;
    margin: 0 0 1rem 0;
}

.cart {
    justify-content: space-between;
    width: 33.3333333333%;
    order: 6;
    padding: 0 1.5rem;
    
}

.container-form {
    width: 66.666666667%;
    padding: 0 1.5rem;
    
}

.cart-header {
    width: 100%;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.subtitle-cart {
    font-size: 1.5rem;
    color: #0d6efd;
    font-weight: 500;
    line-height: 1.2;
}

.img-cart {
    padding: .35rem .65rem;
    background: #0d6efd;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
}

.list {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-radius: .25rem;
}

.buys {
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding: .5rem 1rem;
    line-height: 1.2;
    background-color: #fff;
}

.promo {
    background: #f8f9fa;
    color: #368754;
}

.buys-title {
    font-size: 1rem;
    font-weight: 600;
}

.small {
    font-size: 80%;
    color: #6c757d;
}

.cost {
    color: #6c757d;
}

.total {
    color: black;
    font-weight: bolder;
    font-size: 1rem;
}

.promo {
    background: #f8f9fa;
    color: #368754;
}

.form-title {
    text-align: left;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
}

.name-left {
    width: 50%;
    padding: 0 .5rem 0 0;
}

.name-right {
    width: 50%;
    padding: 0 0 0 .5rem;
}
.text {
    display:block;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.Username {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

/*.mt {
    margin: 1rem 0 0 0;
}*/

.opacity {
    color: #6c757d;
}

#Username {
    border-radius: 0 .25rem .25rem 0;
    margin: 0 0 0-1px;
}

.usrname {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    border-radius: .25rem 0 0 .25rem ;
}

.info {
    padding: 0;
    width: 100%;
    margin: 1rem 0 0 0;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

#country {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.country {
    width: 41.66666667%;
}

#state {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.state {
    width: 33.33333333%;
}

.zip {
    width: 25%;
}

.section {
    height: 1px;
    border: 0;
    margin: 1.5rem 0;
    opacity: .25;
    background: #000000;
}

.info-payment {
    width: 50%;
    margin: 1rem 0 0 0;
}

.size-sm {
    width: 25%;
}

.pr {
    padding-right: .5rem;
}

.pl {
    padding-left: .5rem;
}

.label-form {
    margin: 0 0 .5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.button {
    width: 100%;
    border: 1px solid #0d6efd;
    background: #0d6efd;
    color: #fff;
    border-radius: .3rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.5;
    transition: .5s all;
    margin: 0;
}


.blue:hover {
    background: #0c55c1;
}

.grey:hover {
    background: #495057;
}

.code{
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.form-code {
    flex-wrap: nowrap;
    padding: .5rem;
    background: #fff;
}

.text-code {
    flex: 1 1 auto;
    display: inline-block;
    border-radius: .25rem 0 0 .25rem;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
}

.button-text {
    flex: 0 0 60px;
    display: inline-block;
    border-radius: 0 .25rem .25rem 0;
    background: #6c757d;
    border: 1px solid #6c757d;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
    margin: 0 0 0 -1px
}

.check {
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .25rem;
}

.option {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

footer {
    margin: 3rem 0;
    padding: 3rem 0 0 0;
}
.paragraph-footer {
    text-align: center;
    width: 100%;
    color: #6c757d;
}

.list-footer {
    width: 100%;
    justify-content: center;

}

.item-footer {
    list-style: none;
    margin: .5rem;
}

.item-footer a {
    color: #0d6efd;
}

.margin-0 {
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 992px) {
    .form-title {
        font-size: calc(1.275rem + .3vw);
    }

}